<div class="container">
  <h1>Add a movie to your <%= list.name %></h1>

  <%= simple_form_for [list, bookmark] do |f| %>
    <%= f.association, collection: Movie.all.order(:title), prompt: "Select a movie" %>
    <%= f.input :comment, placeholder: "Add a comment" %>
    <%= f.submit "Add movie", class: 'btn btn=primary' %>
  <% end %>

  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark.comment %></li>
    <% end %>
  </ul>
</div>
